body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #292a2c;
    align-items: center;
    flex-grow: 1;
}
.header{
    
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    width: 1450px;
    height: 600px;
    align-items: center;
    font-size: 24px;
    flex-basis: auto;
    color: #f9faf8;
}
.top{
    align-items:center;
    width: 1050px;
    display: flex;
    justify-content: space-between;
    
}
.title{
    margin:  0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}
.header-text{
    font-size: 18px;
    
    color: #E5E7EB;
}
.bottom{
    width: 1050px;
    display: flex;
}
ol{
    display: flex;
    list-style-type: none;
    gap: 25px;
}
a{
    
    color: #f9faf8;
    text-decoration: none;
}
.himgtext{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.himg{
    display:  flex;
    width: 400px;
    height: auto;
    margin: 80px;
}
.button1{
    font-size: large;
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    border-style:none;
    border-radius: 4px;
}
.photos{
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1450px;
    height: 600px;
    justify-content: center;
}
.imgcontainer{
    display: flex;
    
    border-width: 10px;
    justify-content: space-between;
    align-content: center;
}
img{
    border: 3px solid #3882f6;
    border-radius: 6px;
    width: 200px;
    height: 200px;
}
.img1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.img2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.img3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.img4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.quote{
    width: 1450px;
    height: 600px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: lighter;
    font-size: 25px;
    font-style: italic;
 }

.qtext{
   width: 700px;
   padding-top: 100px;
}
.qsource{
    padding-bottom: 100px;
    padding-left: 250px;
    font-size: 25px;
}
.footer{
    display: flex;
    width: 1450px;
    height: 600px;
    background-color: white;
    justify-content: center;
    
}
.fbox{
    display: flex;
    align-self: center;
    margin: 120px;
    background-color: #3882f6;
    width: 1000px;
    border: #3882f6;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.ftext{
    margin: 80;
    padding: 40px;
    color: white;
}
button{
    font-size: large;
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 35px;
    border-style:solid;
    border-radius: 4px;
    border-color: white;
}
.copyright{
    width: 1450px;
    background-color: #1f2937;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}
h3{
    font-size: 30px;
}